# Security / Environment
.env
backend/.env
frontend/.env
*.env

# React / Node
node_modules/
dist/
build/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
backend/topic_model.joblib
backend/vectorizer.joblib

# OS
.DS_Store
Thumbs.db
